@font-face {
    font-family: "Exo 2 Bold";
    src: url("../fonts/Exo2-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Regular";
    src: url("../fonts/Exo2-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Bold Italic";
    src: url("../fonts/Exo2-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Regular Italic";
    src: url("../fonts/Exo2-Italic.ttf") format("truetype");
}

body {
    transition: 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
}

#outerPanel {
    transition: inherit;
    bottom: 1.25vh;
    width: 97vw;
    right: 1.5vw;
    height: 6.25vh;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ededed;
}

#innerPanel {
    transition: inherit;
    width: 75vw;
    position: relative;
    left: 11vw;
    height: inherit;
    background-color: #dbdbdb;
}

#dataBeatmapInfo {
    transition: inherit;
    width: 40vw;
    position: relative;
    left: 15vw;
    height: inherit;
    z-index: 2;
    overflow: hidden;
    background-color: black;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    background-size: cover;
}

#coverBeatmapInfo {
    width: 40vw;
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    background-color: white;
    opacity: 0;
}

#osuSpriteText {
    transition: inherit;
    overflow: hidden;
    font-size: 2vh;
    position: relative;
    color: white;
    text-align: center;
}

#osuSpriteText #dataBeatmap {
    margin-top: 0.5vh;
    margin-right: 0.625vh;
    font-size: inherit;
    text-align: center;
    font-family: "Exo 2 Bold Italic";
    white-space: nowrap;
}

#osuSpriteText #mapper {
    margin-right: 0.625vh;
    font-size: 1.75vh;
    text-align: center;
    display: inherit;
}

#osuSpriteText #difficulty {
    font-size: 1.75vh;
    text-align: center;
    display: inherit;
}

#osuSpriteText .textHeading {
    font-size: inherit;
    font-family: "Exo 2 Regular Italic";
    margin-right: 0.625vh;
}

#osuSpriteText .textContent {
    font-size: inherit;
    font-family: "Exo 2 Bold Italic";
    margin-right: 2.5vh;
    max-width: 22vw;
}

#innerPanel .beatmapInfo {
    text-align: center;
    font-family: 'Exo 2 Bold';
    font-size: 1.875vh;
    padding: 0.125vh 1.875vh 0.125vh 1.875vh;
    white-space: nowrap;
}

#innerPanel .beatmapInfo .textHeading {
    color: #545454;
}

#innerPanel .beatmapInfo .textContent {
    color: #808080;
}

#innerPanel .beatmapInfo.left {
    position: fixed;
    left: 13.75vw;
    text-align: left;
    padding: 0;
    bottom: 2.25vh;
}

#innerPanel .beatmapInfo.right {
    position: fixed;
    right: 13.75vw;
    text-align: right;
    padding: 0;
    bottom: 2.25vh;
}

#logoContainer {
    position: fixed;
    right: calc(1.5vw + 0.75vh);
    bottom: 1.875vh;
    height: 5vh;
    width: 5vh;
}

.roundedBorder {
    border-radius: 3.125vh;
}

.lineWrapper {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

.lineWrapper.center {
    justify-content: center;
    align-items: center;
    max-width: 40vw;
}

#osuLogo {
    width: 5vh;
    height: 5vh;
}

.open {
    animation: fade 0.2s linear;
    transition: 0.2s;
}

.transit {
    animation: clear 0.3s linear;
}

@keyframes fade {
    0% {
        color: rgba(128, 128, 128, 0.5);
    }
    100% {
        color: #808080;
    }
}

@keyframes clear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 30%;
    }
    100% {
        opacity: 0;
    }
}