@font-face {
    font-family: "Exo 2 Bold";
    src: url("../fonts/Exo2-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Regular";
    src: url("../fonts/Exo2-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Bold Italic";
    src: url("../fonts/Exo2-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Regular Italic";
    src: url("../fonts/Exo2-Italic.ttf") format("truetype");
}

#outerPanel {
    bottom: 10px;
    width: 97vw;
    right: 1.5vw;
    transition: 800ms;
    height: 50px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ededed;
}

#innerPanel {
    width: 70vw;
    position: relative;
    left: 13.5vw;
    height: inherit;
    background-color: #dbdbdb;
}

#beatmapInfo {
    width: 40vw;
    position: relative;
    left: 15vw;
    height: inherit;
    background-color: black;
}

#osuSpriteText {
    overflow: hidden;
    font-size: 1.6vmin;
    margin: auto;
    position: relative;
    color: white;
    text-align: center;
}

#osuSpriteText #beatmap {
    margin-right: 5px;
    font-size: inherit;
    text-align: center;
    font-family: "Exo 2 Bold Italic";
}

#osuSpriteText #mapper {
    margin-right: 5px;
    font-size: 1.4vmin;
    text-align: center;
}

#osuSpriteText #difficulty {
    font-size: 1.4vmin;
}

#osuSpriteText #mapper .textIndicator {
    font-size: inherit;
    font-family: "Exo 2 Regular Italic";
    margin-right: 5px;
}

#osuSpriteText #mapper .textValue {
    font-size: inherit;
    font-family: "Exo 2 Bold Italic";
    margin-right: 20px;
}

#osuSpriteText #difficulty .textIndicator {
    font-size: inherit;
    font-family: "Exo 2 Regular Italic";
    margin-right: 5px;
}

#osuSpriteText #difficulty .textValue {
    font-size: inherit;
    font-family: "Exo 2 Bold Italic";
}

.roundedBorder {
    border-radius: 25px;
}

div {
    display: flex;
}