@font-face {
    font-family: "Exo 2 Bold";
    src: url("../fonts/Exo2-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Regular";
    src: url("../fonts/Exo2-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Bold Italic";
    src: url("../fonts/Exo2-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Exo 2 Regular Italic";
    src: url("../fonts/Exo2-Italic.ttf") format("truetype");
}

#outerPanel {
    bottom: 1vh;
    width: 97vw;
    right: 1.5vw;
    transition: 200ms;
    height: 50px;
    position: absolute;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.2);
    background-color: #ededed;
}

#innerPanel {
    width: 70vw;
    position: relative;
    left: 13.5vw;
    height: inherit;
    background-color: #dbdbdb;
}

#beatmapInfo {
    width: 40vw;
    position: relative;
    left: 15vw;
    height: inherit;
    background-color: black;
}

#osuSpriteText {
    overflow: hidden;
    font-size: 1.6vh;
    margin: auto;
    position: relative;
    color: white;
    text-align: center;
}

#osuSpriteText #beatmap {
    margin-right: 0.5vh;
    font-size: inherit;
    text-align: center;
    font-family: "Exo 2 Bold Italic";
}

#osuSpriteText #mapper {
    margin-right: 0.5vh;
    font-size: 1.4vh;
    text-align: center;
}

#osuSpriteText #difficulty {
    font-size: 1.4vh;
}

#osuSpriteText .textHeading {
    font-size: inherit;
    font-family: "Exo 2 Regular Italic";
    margin-right: 0.5vh;
}

#osuSpriteText .textContent {
    font-size: inherit;
    font-family: "Exo 2 Bold Italic";
    margin-right: 2vh;
}

#innerPanel .beatmapInfo {
    text-align: center;
    font-family: 'Exo 2 Bold';
    font-size: 1.5vh;
    padding: 0.1vh 1.5vh 0.1vh 1.5vh;
}

#innerPanel .beatmapInfo .textHeading {
    color: #545454;
}

#innerPanel .beatmapInfo .textContent {
    color: #848484;
}

#innerPanel .beatmapInfo.left {
    position: absolute;
    left: 20px;
}

#innerPanel .beatmapInfo .right {
    position: absolute;
    right: 20px;
}

.roundedBorder {
    border-radius: 25px;
}

div {
    display: flex;
}